
:root {
  --border-radius: 4px;
  --border-color: #9F9FA0;
  --body-bg: #FFEEDD;

  --header-bg: white;
  --content-bg: white;

  --button-bg: #323236;
  --button-fg: white;
  --padding: 10px; /* padding within container elements and page margins */
  --gap: 10px; /* default gap between UI elements */
}

body {
  font-family: sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  background-color: var(--body-bg);

  height: 100vh;
  display: flex;
  flex-direction: column;
}

dialog::backdrop {
  background-color: rgba(255, 255, 255, 0.8);
}

button {
  color: var(--button-fg);
  font-weight: bold;
  font-size: 14px;
  border: 0;
  background: var(--button-bg);
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.3) , 0 0 0 1px var(--button-bg);
  cursor: pointer;
  text-decoration: none;

  &:disabled {
    filter: grayscale(1);
    color: rgba(255, 255, 255, 0.5);
  }
}
