
.header {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--header-bg);
  color: black;
  padding: 10px;

  h1 {
    font-size: 18px;
    font-weight: 900;
    margin: 0;
  }
}

.settingsToggle {
  margin-left: auto;
}
