
.songViewer {
  padding: var(--padding);
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  min-height: 0;
}

.songHeader {
  display: flex;
  gap: 10px;
  align-items: center;

  h1 {
    margin: 0;
    font-size: 18px;
  }

  .buttons {
    display: flex;
    gap: 5px;
    margin-left: auto;
    button {
      white-space: nowrap;
    }
  }
}

.songContent {
  background-color: var(--content-bg);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  flex: 1;
  display: flex;
  position: relative;
  min-height: 0;

  ul {
    margin: 0;
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    max-height: 100%;
  }
}

.songChunk {
  padding: 0;
  margin: 0;
  list-style: none;
  white-space: pre-wrap;
  font-family: monospace;
}

.songScubber {
  width: 100%;
}

.nextButton,
.prevButton {
  opacity: 0.5;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background: transparent;
  border: 0;
  color: transparent;
  box-shadow: none;
}

.nextButton {
  right: 0;
}

.prevButton {
  left: 0;
}



