
.songViewer {
  padding: var(--padding);
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  min-height: 0;
}

.songHeader {
  display: flex;
  gap: 10px;
  align-items: center;

  h1 {
    margin: 0;
    font-size: 18px;
  }

  .buttons {
    display: flex;
    gap: 5px;
    margin-left: auto;

    button {
      white-space: nowrap;
    }
  }
}

.songContent {
  background-color: var(--content-bg);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  flex: 1;
  display: flex;
  min-height: 0;
  overflow: hidden;

  .scrollWrapper {
    flex: 1;
    overflow-y: auto;
    container-type: size;
    min-height: 0;
  }

  ul {
    line-height: 1.5;
    margin: 0;
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.songChunk {
  padding: 0;
  margin: 0;
  list-style: none;
  white-space: pre-wrap;
  font-family: monospace;
}

.songScubber {
  width: 100%;
}

.buttonOverlay {
  position: sticky;
  top: 0;
  height: 100cqh;
  margin-bottom: -100cqh;
  z-index: 1;
  padding: var(--padding);
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 2fr;
  gap: 10px;

  * {
    opacity: 0.05;
  }

  button:active {
    opacity: 0.2;
  }

  .prevButton {
    grid-area: 3 / 1 / 4 / 2;
  }

  .nextButton {
    grid-area: 3 / 2 / 4 / 3;
  }

  .hintButton {
    grid-area: 2 / 1 / 2 / 3;
  }

  .revealWordButton {
    grid-area: 1 / 1 / 2 / 3;
  }
}

.wordButtons {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;

  button {
    max-width: 84px;
    min-width: 0;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  & [disabled] {
    opacity: 0.5;
    box-shadow: none;
    border-color: var(--button-bg);
  }
}

.songControls {
  display: flex;
  gap: 10px;
  align-items: center;

  .songScrubber {
    flex: 1;
    margin: 0px;
  }

  button {
    display: flex;
    align-items: center;
    border: 0;
    padding: 4px;
    border-radius: var(--border-radius);
    color: inherit;
    background: var(--button-inactive-bg);
    box-shadow: none;

    &.active {
      background: var(--button-enabled-bg);
      color: var(--button-fg);
    }
  }
}


.emptyMessage {
  padding: var(--padding);
  margin: 0;
  opacity: 0.8;
}

.wordInputRow {
  display: flex;
  gap: 8px;
  align-items: center;
}

.wordInput {
  flex: 1;
  padding: 5px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  box-sizing: border-box;
}

.helpButton {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  padding: 0;
  font-weight: bold;
  cursor: pointer;
  border: 0;
  background: var(--button-inactive-bg);
  box-shadow: none;
  color: inherit;
}

