
.songList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;

  nav {
    display: flex;
    gap: 10px;
    align-items: center;

    h2 {
      margin: 0;
      font-size: 16px;
      margin-right: auto;
    }
  }


  ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 10px;
  }

  .lyrics {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.songRow {
  background-color: var(--content-bg);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);

  h3 {
    margin: 0
  }

  p {
    margin: 0;
  }
}
